body{
    background-color: blueviolet;
    background-image: url(../fondo/pattern1.png);
}
h1{
    color: purple;
}

@media only screen and (min-width: 480px){
    body{
        background-color: yellow;
        background-image: url(../fondo/pattern2.png);
    }
    h1{
        color: aqua;
        font-size: 3rem;

    }
}
@media only screen and (min-width: 768px){
    body{
        background-color: black;
        background-image: url(../fondo/pattern3.png);
    }
    h1{
        color: rgb(4, 63, 63);
        font-size: 3rem;
    }
}
